################################################################################
# https://github.com/Silvan87/Confabula                                        #
################################################################################

# Imposta il comportamento predefinito di Git su auto-riconoscimento dei file di
# testo, in caso l'utente finale non abbia configurato 'core.autocrlf':
* text=auto

# ==============================================================================
#                 Configurazione Estensioni File: Testo/Binario
# ==============================================================================
# Dichiara esplicitamente tutte le estensioni utilizzate nel progetto come file
# di testo o file binari, e istruisci Git su come gestire la normalizzazione dei
# caratteri di fine-riga (EOL) a seconda del sistema operativo.

## ===================
## Codice Sorgente JS
## ===================
*.js            text
*-min.js        binary

## ===================
## File World Wide Web
## ===================
*.htm           text
*.html          text
*.css           text

## ===================
## Html autogenerati o copiati
## ===================
esempi/*.html   binary

## ===================
## File Documentazione
## ===================
*.md            text
LICENSE         text

## ===================
## Immagini & Font
## ===================
*.png           binary
*.jpg           binary
*.jpeg          binary
*.gif           binary
*.ttf           binary
*.ico           binary

## ===================
## File Configurazione
## ===================
.editorconfig   text
.gitattributes  text
.gitconfig      text
.gitignore      text
.gitmodules     text

# ==============================================================================
#                                GitHub Linguist
# ==============================================================================
#  -- https://github.com/github/linguist
#
# Definizioni manuali per alcune estensioni, di modo che la libreria Linguist di
# GitHub possa:
# 1) Raccogliere statistiche corrette sui file di progetto,
# 2) Colorare la sintassi dei sorgenti in maniera corretta nella WebUI.

## ==============
## DOCUMENTAZIONE
## ==============
## Escludi dalle statistiche del progetto i file della documentazione:
documentazione/*    linguist-documentation

# EOF #
