
/** Stile personalizzabile **/

.coloreSfondo { background-color: #000; }
.coloreTesto { color: #B5A594; }
.coloreTestoInviato { color: #82776A; }
.testoCarattere { font-family: Verdana, sans-serif; }
.testoGrandezza { font-size: 20px; line-height: 1.2em; }
.testoAllineamento { text-align: left; }
.coloreScelta { color: #9C8159; }
.coloreScelta:hover /*colore scelta selezionata*/ { color: #cc0; }
.coloreErrore { color: #c60 !important; }
a { /*colore link*/ color: #7E45B0; }
a:hover { /*colore link selezionato*/ color: #9F57DE; }
.larghezzaMaxStoria { max-width: 800px; }

/** Impostazioni raccomandate **/

html {
	overflow-y: scroll;
}
::-webkit-scrollbar {
	background:#000;
	width:10px;
}
::-webkit-scrollbar-thumb {
	background:#82776A;
	border-radius:10px;
}
::-webkit-scrollbar-track {
	background:#000;
}
body {
	text-align: center;
	margin: 8px 0 8px 0;
	padding: 0;
}
p, input {
	margin: 0 0 8px 0;
}
p.br {
	margin-top: -8px;
}
a {
	text-decoration:none;
}
img {
	max-width: 100%;
	margin: 8px auto 8px auto;
}
#intermezzo, #testo, #input, #scelte {
	margin: 0 auto 0 auto;
	padding: 0 8px 0 8px;
}
#input {
	width: 100%;
	display: none;
	border: none;
	outline: none;
	text-align: left;
}
.inviato {
	margin: 0;
}
#scelte {
	margin-top: 8px;
	text-align: left;
}
.scelta {
	margin: 0;
	cursor: pointer;
}
.ascii {
	display:block;
	white-space:pre;
	text-align:center;
	font-size:16px;
	margin:12px 0 12px 0;
	line-height: 1em;
}